html, body {
   height: 100%;
   width: 100%;
}

.button{
   width: 66px;
   padding: 20px;
   margin: 0 3px;
   border: 4px solid black;
   border-radius: 9px;
   cursor: pointer;
}

.row{
   margin: 8px 0;
}
.row input{
   width: 230px;
   margin: 11px;
   padding: 10px 30px;
   border: 4px solid black;
   border-radius: 5px;
}