:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-green:#106804;
  --color-gold: #f8e003;
  --color-black: black;
  --color-green-1: #093b05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
  background-image: url(air.jpg);
  background-size: cover;
  background-position: center;
}

html {
    font-size: 92.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

.logo {
  color: var(--color-black);
  font-size: 40px;
}

.menu-bar {
  background-color: var(--color-gold);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 25px;
  color: var(--color-black);
  text-decoration: none;
  text-transform: capitalize;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-gold);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-gold);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 6px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 145px;
  top: 0;
  background-color: var(--color-primary);
}


.section {
    padding: 1rem 4%;
    margin: none;

}


.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--color-black);
    color: var(--color-gold);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 9rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    align-items: center;
    text-decoration: none;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--color-gold);
    transition: .3s linear;
    z-index: -1;

}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: black;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 80vh;
    align-items: center;
}

.home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .content h3 {
    font-size: 7rem;
    color: black;
    text-align: left;
}

.home .content p {
    font-size: 2.2rem;
    color: black;
    padding: 1rem 0;
    text-align: left;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(3rem);
    }
}

.speciality .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speciality .box-container .box {
    flex: 1 1 10rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
    height: 10rem;
    width: 4rem;
}

.speciality .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: none;
    position: absolute;
    top: 50%;
}

.speciality .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 0;
}

.speciality .box-container .box .content img {
    margin: 1.5rem 0;
}

.speciality .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.speciality .box-container .box:hover .image {
    top: 0;
}
